* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



section nav {
    width: 100%;
    height: 70px;
    padding-top: 25px;
    background: #fff;
}

    section nav ul {
        list-style: none;
        text-align: center;
    }

        section nav ul li {
            display: inline-block;
            font-size: 21px;
            margin: 0 18px;
            font-family: "Euphemia";
            cursor: pointer;
            transition: 0.4s;
        }

            section nav ul li:hover {
                color: #98e54c;
            }

section .text {
    position: absolute;
    top: 250px;
    left:18%;
}

    section .text .word {
        color: #cfcfcf;
        font-size: 14px;
        letter-spacing: 1px;
    }

    section .text h1 {
        font-size: 50px;
        color: #fff;
        line-height: 65px;
    }

        section .text h1 span {
            color: #98e54c;
        }

    section .text .textarea {
        width: 600px;
        margin-top: 20px;
        color: #cfcfcf;
        text-align: justify;
        line-height: 25px;
    }

    section .text .search_bar {
        width: 400px;
        padding: 0 10px;
        background: #fff;
        margin-top: 28px;
    }

        section .text .search_bar input {
            width: 359px;
            height: 40px;
            background: none;
            border: none;
            outline: none;
            padding: 0 5px;
        }

        section .text .search_bar button {
            position: absolute;
            left: 400px;
            width: 80px;
            height: 40px;
            cursor: pointer;
            background: #98e54c;
            border: 0;
        }

/*second*/



/*description_1*/

.description_1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    background-color: #000;
}

    .description_1 .d_text h1 {
        color: #fff;
        font-size: 65px;
        font-family: 'Fredfont';
        margin-bottom: 25px;
    }

    .description_1 .d_text .head_title {
        margin-bottom: 15px;
        color: #fff;
    }

    .description_1 .d_text .desc {
        width: 650px;
        text-align: justify;
        color: #cfcfcf;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .description_1 .d_text .dis_btn {
        text-decoration: none;
        color: #000;
        padding: 8px 13px;
        background: #98e54c;
        font-size: 15px;
        border-radius: 15px;
        font-family: "Franklin Gothic Book";
    }

    .description_1 .dis_img {
        width: 620px;
        height: 620px;
        border-radius: 35px;
        overflow: hidden;
    }

        .description_1 .dis_img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 35px;
        }

/*menu*/




/*banner*/

.banner {
    width: 100%;
    height: 70vh;
    background: #000;
}

    .banner .b_text {
        position: absolute;
    }

        .banner .b_text h6 {
            color: #fff;
            letter-spacing: 1px;
            position: relative;
            top: 200px;
            left: 55%;
            font-size: 13px;
        }

        .banner .b_text h1 {
            color: #98e54c;
            position: relative;
            top: 230px;
            left: 55%;
            font-size: 40px;
        }

        .banner .b_text p {
            width: 550px;
            color: #fff;
            position: relative;
            top: 260px;
            left: 55%;
            text-align: justify;
            line-height: 23px;
            font-size:20px;
        }

        .banner .b_text .b_btn {
            width: 130px;
            position: relative;
            top: 290px;
            left: 55%;
            text-decoration: none;
            color: #000;
            background: #98e54c;
            padding: 8px 0;
            font-size: 15px;
            border-radius: 15px;
            padding: 8px 13px;
            font-family: "Franklin Gothic Book";
        }

    .banner img {
        width: 100%;
        height: 630px;
        display: flex;
        margin: 62px auto;
        object-fit: cover;
        object-position: center;
        border-radius: 0px;
    }


/*contact*/

.contact {
    width: 100%;
    height: 345px;
    padding: 20px 0;
    background: #000;
    display: flex;
    justify-content: space-around;
}

    .contact .c_image img {
        width: 800px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 35px;
    }

    .contact .subscribe h1 {
        color: #fff;
        font-family: "Euphemia";
        text-align: center;
    }

    .contact .subscribe .title {
        color: #cfcfcf;
        text-align: center;
    }

    .contact .subscribe .c_search {
        margin: 40px 0;
    }

        .contact .subscribe .c_search input {
            width: 250px;
            padding: 8px 5px;
            background: none;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            outline: none;
            color: #cfcfcf;
            border-color: #98e54c;
        }

        .contact .subscribe .c_search button {
            text-decoration: none;
            color: #000;
            background: #98e54c;
            padding: 8px 12px;
            font-size: 15px;
            border-radius: 15px;
            font-family: "Franklin Gothic Book";
        }

    .contact .subscribe .address {
        display: flex;
        justify-content: space-between;
    }

        .contact .subscribe .address .place h3 {
            font-family: "Euphemia";
            color: #fff;
            margin-bottom: 15px;
        }

        .contact .subscribe .address .place p {
            color: #cfcfcf;
            font-family: "Franklin Gothic Book";
            text-align: right;
            line-height: 23px;
        }

        .contact .subscribe .address .follow {
            font-family: "Euphemia";
            color: #fff;
            margin-bottom: 15px;
        }

            .contact .subscribe .address .follow .icon {
                letter-spacing: 5px;
                margin: 20px 0 10px 0;
                cursor: pointer;
                transition: 0.4s;
            }

                .contact .subscribe .address .follow .icon i:hover {
                    color: #98e54c;
                }

p.end {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    background: #000;
    color: #fff;
}

    p.end span {
        color: #98e54c;
    }

        p.end span i {
            margin: 0 8px;
        }




