 <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Food Wedsite</title>
            <link rel="stylesheet" href="~/css/HomePage/HomePage.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        </head>
        <body>
            <style>
                section{
                 width: 100%;
                 height: 100vh;
                 background-color: #f8f4ec;
                 background-position: center;

                }
            </style>

            <section>
        <img src="~/images/background.jpg" alt="" class="w-100" height="820px" />
                
                <div class="text">

                    <p class="word">SchoolEats</p>
                    <h1><span>Добре дошли</span> в<br> бъдещето<br> на дигиталното пазаруване</h1>
                    <p class="textarea">
                       SchoolEats е сайт през който ще можете да пазарувате свобдно
                       продукти във вашата лафка на вашето училище.
                    </p>


                </div>

            </section>


            

            <div class="description_1">
              
            </div>

              


           


            <div class="banner">

                <div class="b_text">

                    <h6>В столовата</h6>
                    <h1>Нашите предложения</h1>
                    <p>
                       Тук ще можете да виждата нашите предложения

                       за храни и напитки в този ден. Ако искате 

                       да видете какво предлагаме, кликтенете на 
                       буктона.
                   </p>
                    <a href="#" class="b_btn">Налични продукти</a>

                </div>

                <img src="~/images/banner.jpg" class="w-70">

            </div>


            

            
        </body>
        </html>