@using SchoolEats.Web.Infrastructure.Extensions
@{
	string fullName = User.Identity.Name;
	string firstName = string.Empty;
	string secondName = string.Empty;
	firstName += fullName[0];
	bool isSurname = false;
    foreach (var character in fullName.Skip(1))
    {
	    if (character.ToString() == character.ToString().ToUpper())
	    {
		    isSurname = true;
	    }
	    if(!isSurname)
	    {
		   firstName += character; 
	    }
	    if (isSurname)
	    {
		    secondName += character;
	    }
	    
	}
}
    <!DOCTYPE html>
    <!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
    <html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> Responsive Sidebar Menu  | CodingLab </title>
    <link rel="stylesheet" href="~/css/shit/A.css">
    <link rel="stylesheet" href="~/css/shit/B.css">
    <link rel="stylesheet" href="~/css/shit/C.css">
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <main>

        <div class="page d-flex">

            <div class="content w-full">
                <!-- Start Head -->
              
                <!-- End Head -->
                <h1 class="p-relative">Settings</h1>
                <div class="settings-page m-20 d-grid gap-20">
                    <!-- Start Settings Box -->
                    
                    <!-- End Settings Box -->
                    <!-- Start Settings Box -->
                    <div class="p-20 bg-white rad-10">
                        <h2 class="mt-0 mb-10">Твоята информация</h2>
                        <p class="mt-0 mb-20 c-grey fs-15">Главната ви информация за вашия акаунт</p>
                        <div class="mb-15">
                            <label class="fs-14 c-grey d-block mb-10" for="first">Име</label>
                            <input class="b-none border-ccc p-10 rad-6 d-block w-full"
                                   type="text"
                                   id="first"
                                   value="@firstName"
                                   disabled />
                        </div>
                        <div class="mb-15">
                            <label class="fs-14 c-grey d-block mb-5" for="last">Фамилия</label>
                            <input class="b-none border-ccc p-10 rad-6 d-block w-full"
                                   id="last"
                                   value="@secondName"
                                   type="text"
                                   disabled />
                        </div>
                        <div>
                            <label class="fs-14 c-grey d-block mb-5" for="email">Email</label>
                            <input class="email b-none border-ccc p-10 rad-6 w-full mr-10"
                                   id="email"
                                   type="email"
                                   value="@User.GetEmail()"
                                   disabled />
                            <a class="c-blue" href="#">Change</a>
                        </div>
                    </div>
                    <!-- End Settings Box -->
                    
        </div>
       </div>

       </div>
    </main>
    <script>
            let list = document.querySelectorAll(".navigation li");

            function activeLink() {
                list.forEach((item) => {
                    item.classList.remove("hovered");
                });
                this.classList.add("hovered");
            }

            list.forEach((item) => item.addEventListener("mouseover", activeLink));

            // Menu Toggle
            let toggle = document.querySelector(".toggle");
            let navigation = document.querySelector(".navigation");
            let main = document.querySelector(".main");

            toggle.onclick = function () {
                navigation.classList.toggle("active");
                main.classList.toggle("active");
            };
        </script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
