<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~.">

    <title>Login</title>
</head>
<body>

    <div class="nav">
        <div class="logo">
            <p><a href=""> <img src="LOGO.png" width="150px"></a></p>
        </div>
    </div>
    <div class="container">

        <div class="box form-box">

            <header>Login
            </header>
            <form action="potrebitel.html" method="">
                <div class="field input">
                    <label for="username">Email</label>
                    <input type="text" name="Email " id="Email" autocomplete="off" required>
                </div>

                <div class="field input">
                    <label for="password">Парола</label>
                    <input type="password" name="password" id="password" autocomplete="off" required>
                </div>

                <div class="field ">
                    <input type="submit" class="btn" name="submit" value="Потвърди" required onclick="a.href='home.html'">

                </div>
                <div class="links">
                    Нямате акаунт? <a href="register.html">Регистрирайте се от тук</a>
                </div>
            </form>
        </div>

    </div>
</body>
</html>