@using Microsoft.AspNetCore.Identity
@using SchoolEats.Data.Models
@inject SignInManager<SchoolEatsUser> SignInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolEats</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/stail.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	@if(SignInManager.IsSignedIn(this.User))
	{
	<div class="app-sidebar background-user">
	<div class="logo-details">
		<div class="logo_name">SchoolEats</div>
		<i class='bx bx-menu' id="btn"></i>
	</div>
	<ul class="nav-list">
		<li>
			<i class='bx bx-search'></i>
			<input type="text" placeholder="Потърси...">
			<span class="tooltip">Потърси</span>
		</li>
		<li>
			<a href="potrebitel.html">
				<i class='bx bx-pie-chart-alt-2'></i>
				<span class="links_name">Начална страница</span>
			</a>
			<span class="tooltip">Начална страница</span>
		</li>

		<li>
			<a asp-controller="Dish" asp-action="All"> 
				<i class='bx bx-cart-alt'></i>
				<span class="links_name">Налични продукти</span>
			</a>
			<span class="tooltip">Налични продукти</span>
		</li>
		<li>
			<a asp-controller="Purchase" asp-action="All">
				<i class='bx bx-chat'></i>
				<span class="links_name">История на поръчки</span>
			</a>
			<span class="tooltip">История на поръчки</span>
		</li>
		<li>
			<a asp-action="Settings" asp-controller="SuperUser">
				<i class='bx bx-cog'></i>
				<span class="links_name">Настройки</span>
			</a>
			<span class="tooltip">Настройки</span>
		</li>

		<li class="profile">
			<div class="profile-details">
				<div class="name_job">
					<div class="name">@User.Identity.Name</div>
					<div class="job">Ученик</div>
				</div>
			</div>
			<form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">
				<button type="submit">
					<i class='bx bx-log-out' id="log_out"></i>
				</button>
			</form>
		</li>
	</ul>
        </div>
}
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <p>&copy; 2024 - SchoolEats all rights reserved!</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/sidebar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
