@page
@model RegisterModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/LoginStyle/Login.css">

    <title>Регистрация</title>
</head>
<body>
    <section>
        <img src="~/images/login.jpg" alt="" />
    </section>
    <div class="container">

        <div class="box form-box">
            <p class="text-center fs-4">Register</p>

            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="field input">
                    <label asp-for="Input.Name" for="name"></label>
                    <input asp-for="Input.Name" type="text" id="name"  aria-required="true" placeholder="Име...">
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div class="field input">
                    <label asp-for="Input.Surname" for="surname"></label>
                    <input asp-for="Input.Surname" type="text" id="surname" aria-required="true" placeholder="Фамилия...">
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
                <div class="field input">
                    <label asp-for="Input.Email" for="username">Имейл</label>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="email@example.com" type="email" id="username">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="field input">
                    <label asp-for="Input.Password" for="password">Парола</label>
                    <input asp-for="Input.Password" type="password" id="password" autocomplete="current-password" aria-required="true" placeholder="Парола...">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                 <div class="field input">
                    <label asp-for="Input.ConfirmPassword" for="confirm-password">Парола</label>
                    <input asp-for="Input.ConfirmPassword" type="password" id="confirm-password" aria-required="true" placeholder="Повтори парола...">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="field">
                    <button id="register-submit" type="submit" class="btn">Регистрация</button>
                </div>
                <div class="links">
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Влез в профила си!</a>
                </div>
            </form>
        </div>

    </div>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}