@model ForgotPasswordViewModel
<h1>Forgot Password</h1>
<div class="field input">
	<label asp-for="Email" for="password">Парола</label>
	<input asp-for="Email" type="password" id="password" autocomplete="current-password" aria-required="true" placeholder="Парола...">
	<span asp-validation-for="Email" class="text-danger"></span>
</div>