@model ForgotPasswordViewModel
<h1>Forgot Password</h1>
<form asp-action="ForgotPassword" asp-controller="User">
<div class="field input">
	<label asp-for="Email" for="email">Имейл</label>
	<input asp-for="Email" type="email" id="email" placeholder="example@example.com">
	<span asp-validation-for="Email" class="text-danger"></span>
</div>

	<button type="submit" class="btn btn-primary">Смени парола</button>
</form>