<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Confirm.css">
    <title>Document</title>
</head>
<body>
    <div class="confirm">
        <button type="submit" class="" btb>submit</button>
        <div class="popup">
            <img src="~/images/tick.jpg" width="100px">
            <h2>Благодаря ви!</h2>
            <p>Твоите данни ще бъдат разгледани. При упешно регистриране ще ви пратим имейл. </p>
            <button type="button">OK</button>
        </div>
    </div>
</body>
</html>