@model ResetPasswordViewModel
<form asp-action="ResetPassword" asp-controller="User" method="post">
<div class="field input">
        <link rel="stylesheet" href="~/css/LoginStyle/Login.css" />
	<span asp-validation-for="Password" class="text-danger"></span>
</div>

    <section>
        <img src="~/images/login.jpg" alt="" />
    </section>
    <div class="container">

        <div class="box form-box">
            <p class="text-center fs-4">Потвърди парола</p>

           
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


                <div class="field input">
                    <label asp-for="Password" for="password">Парола*</label>
                    <input asp-for="Password" type="password" id="password" autocomplete="current-password" aria-required="true" placeholder="Парола...">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="field input">
                    <label asp-for="ConfirmPassword" for="confirm-password">Повтори парола*</label>
                    <input asp-for="ConfirmPassword" type="password" id="confirm-password" aria-required="true" placeholder="Повтори парола...">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <p class="text-danger" >(*)-Паролата трябва да съдържа главни и малки буквa, както и цифри и да не е по малка 6 синвола!</p>
            <button type="submit" class="btn btn-primary">Потвърди</button>

                
        </div>

    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}